.counter-count
{
    font-size: 28px;
    border-radius: 50%;
    position: relative;
    color: #ffffff;
    text-align: center;
    line-height: 70px;
    width: 70px;
    height: 70px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    display: inline-block;
}
