{% set squareGame_active = 1 %}
{% extends 'layout.html.twig' %}

{% block contents %}
    <div class="container mt-60">
        <div class="row">
            <div class="col-lg-6 text-center">
                <canvas id="myCanvas" width="400" height="450" style="border:1px solid #d3d3d3;">
                    Your browser does not support the HTML5 canvas tag.
                </canvas>
                <script type="text/javascript">
                    drawSquare(u);
                </script>
            </div>
            <div class="col-lg-6">
                <div class="row">
                    <h2>Ice Breaker : Square Game</h2>
                    <h3>Objectif :</h3>
                    <p>Démontrer la force des estimations relatives et collectives par rapport aux estimation en absolu</p>
                    <h3>Principe</h3>
                    <p> Estimez la surface des différents carrés affichés sur cet écran : </p>
                        <ul>
                            <li>1- en cm² (Surface = Largeur X Largeur cm² soit L² cm²)</li>
                            <li>2- en relatif : sachant que le carré A a un coté L= 1 unité (Surface = L² u² soit 1²u²) :</ul>
                </div>
                <div class="row">
                    <h3>Lancer une campagne d'estimation</h3>
                </div>
                <div class="row">
                    <h4>Nom de la campagne</h4>
                    <form method="post" enctype="multipart/form-data">
                        <div class="col-xs-8 col-lg-8">
                            <input type="text" class="form-control" name="nomSession" required="true"/>
                        </div>
                        <div class="col-xs-4 col-lg-4">
                            <input type="submit" class="btn btn-success" value="Lancer ou reprendre" required="true"/>
                        </div>
                    </form>
                </div>
       </div>
            </div>
        </div>

{% endblock %}
