{% set basic_active = 1 %}
{% extends 'layout.html.twig' %}

{% block contents %}
    <div class="container mt-60">
        <div class="col-lg-6">
                <div class="row">
                    <h2>to be defined later...</h2>
                <p>having multiple tools and ressources for agile software development : for training, learning, and so on...</p>
            </div>
        </div>

{% endblock %}
