{% set team_active = 1 %}
{% extends 'layout.html.twig' %}

{% block contents %}
    <div class="container mt-60">
        <div class="col-lg-6">
                <div class="row">
                    <h2>Site web réalisé par </h2>
                    <h3>Olivier Patou</h3><p>Product Owner du site web, un peu de développement et d'administration </p>
                </div>
                <div class="row">
                    <h3>Olivier Picaud</h3> <p>création du square game avec Olivier Patou et travail sur les concepts d'estimation en agilité</p>
                </div>
                <div class="row">
                    <h3>Guillaume Vedrenne </h3><p>intégration du square game avec framework Silex et apport de fonctionnalités de persistance (mysql)</p>
                </div>

            </div>
        </div>

{% endblock %}
