{% set vision_active = 1 %}
{% extends 'layout.html.twig' %}

{% block contents %}
    <div class="container mt-60">
        <div class="col-lg-6">
                <div class="row">
                    <h2>Site web proposé par Olivier Patou</h2>

                     Having multiple tools for agile software development  like :
                <ul>
                    <li>learning tools for training</li>
                    <li>real feedbacks from the trenches</li>
                </ul>

            </div>

            </div>
        </div>

{% endblock %}
